{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,                []}.

%%% eof
